{% extends 'base.html' %} 

{% block title %} 
    Home | Todo App 
{% endblock %} 

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

{% block content %}
    <table class='table table-bordered'>
        <thead>
            <tr>
                <td>Item</td>
                <td>Completed?</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    {% if item.is_completed %}
                        <td class='striker'>
                            <a href="{% url 'update' item.id %}">{{item.name}}</a>
                        </td>
                        <td>
                            <span class="text-success text-bold">Completed</span>
                        </td>
                        {% else %}
                        <td>
                            <a href="{% url 'update' item.id %}">{{item.name}}</a>
                        </td>
                        <td>
                            <a href="{% url 'mark_done' item.id %}">Mark Done</a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'delete' item.id %}">
                            <button class='btn btn-danger'>Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        <tbody>
    </table>    
{% endblock %}
